@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: 'Merriweather', serif;
}

header {
  height: 100%;
  background: linear-gradient(45deg, #ff5842 10%, #439afe);
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 1.8rem;
  color: #fedc43;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
}
