apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

commonLabels:
  app: jesseinit-portfolio

images:
  - name: jesseinit-portfolio
    newName: jesseinit-portfolio
    newTag: latest
