.site__header {
  margin: 60px 0;
}

.site__navbar {
  display: flex;
  justify-content: space-between;
}

.site__navbar ul {
  display: flex;
  list-style: none;
}

.site__navbar li:not(:last-child) {
  margin-right: 30px;
}
