@font-face {
  font-family: 'inter';
  src: url('/fonts/inter_font.ttf');
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: inter, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  position: relative;
  min-height: 100vh;
  max-width: 960px;
  min-width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}

// Page Styles

// UTILS
.text-align-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

// HEADER AREA
.header {
  margin: 30px 0;

  &__navbar {
    display: flex;
    justify-content: space-between;
  }

  &__navbar ul {
    display: flex;
    list-style: none;
  }

  &__navbar li:not(:last-child) {
    margin-right: 25px;
  }
}

// HERO AREA
.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  padding: 30px 0;

  &__aside {
    text-align: center;
  }

  &__author_name {
    font-weight: 500;
    font-size: 1.2em;
    margin: 10px 0;
  }

  &__links {
    margin: 0 0 20px;
    font-size: 0.9em;
  }
  &__description {
    font-size: 1em;
    margin-bottom: 40px;
    line-height: 1.5;
  }

  &__image {
    width: 30%;
    border-radius: 2%;
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 0.9em;
  margin: 20px 0;
}
